@charset "utf-8";

	*{
		box-sizing: border-box;
	}
	
	body{
		padding:0;
		margin:0;
	}

	header{
		position: fixed;
		top:0;
		left:0;
	}
	
	#pic-box{
	width:100px;
	height:100px;
	border:2px solid white;
	background-color:white;
	box-shadow:0px 0px 5px grey;
	position: fixed;
	border-radius:50%;
	left:10px;
	top:10px;
	}

	#app-name{
		font-family:"Ubuntu",sans-serif;
		font-size:35px;
		
	}

	#tag-line{
		font-size:20px;
		text-align:center;
		font-family:cursive;
		margin-top:-20px;
	}

	#app-box{
		width:100%;
		height:auto;
		position: absolute;
		top:50%;
		padding:20px;
		transform: translate(-0%,-50%);
	}

	#app-box ul{
		list-style: none;
		padding:0;
		margin:0;
		height:auto;
	}

	#app-box ul li{
		display:block;
		float:left;
		background-color:#ffffff;
		border-left:5px solid blue;
		border-right:5px solid black;
		width:125px;
		height:120px;
		border-radius: 50%;
		text-align: center;
		margin-top:50px;
		margin-left: 2%;
		font-weight: bold;
		padding-top:3%;
		font-family: "Ubuntu",sans-serif;
		cursor:pointer;
	}

	#app-box ul div{
		float:left;
	
		box-shadow: 0px 0px 15px black;
		width:200px;
		height:200px;
		border-radius:50%;
		font-family: "Ubuntu",sans-serif;
		text-align: center;
		margin-left: 2%;
		color: white;
	}

	#cmp-name{
		width:500px;
		height:70px;
		position: fixed;
		bottom:0;
		left:34%;
		bottom:-65px;
		background-image:url("../../../../images/cmp_name.png");
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 90% 95%;
		color:white;
		font-family: "Righteous";
		font-size:40px;
		text-align: center;
		padding-top:5px;
	}

	a{
		text-decoration: none;
		color:inherit;
	}