@charset "utf-8";
	
	*{
		box-sizing: border-box;
	}

	*:focus{
		outline:none;
	}

	body{
		padding:20px;
	}

	#voucher-page{
		width:60%;
		height:100px;
		border-left:15px solid blue;
		border-right:15px solid blue;
		border-top:15px solid blue;
		margin:0 auto;
		background:white;
	}



	#tabs{
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		border-top: 50px solid transparent;
		width:290px;
		height:60px;
		float: left;
		position: relative;
		background:inherit;
		border-bottom: none;
	}

	#tabs p{
		padding:0;
		margin:0;
		position: absolute;
		top:-40px;
		left:20px;
		font-size:20px;
		font-family:"Ubuntu",sans-serif;
		color:black;
		font-weight:bold;
	}

	#tabs:hover{
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		border-top: 50px solid blue;
	}

	#tabs:hover p{
		color:white;
	}

	#tab-contents{
		width:80%;
		float: left;
		margin-left:10%;
		margin-right:10%;
		border-top:15px solid blue;
		height:550px;
		box-shadow:0px 10px 8px 0px #ddd;
		padding:20px 50px;
		position: relative;
		z-index: -1;
		top:-15px;
	}

	#tab-contents >*{
		display:none;
	}

	#tabs.active{
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		border-top: 50px solid blue;
	}



